@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 1rem;
    box-sizing: border-box;
}

/* ---HEADER --- */
header{
    background-color: #B1C1C0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    
}
.logo{
    width: 100%;
    max-width: 250px;

    margin: 1rem;
}
.linkLogo {
    width: fit-content;
    display: flex;
    justify-content: center;
}
.navSuperior ul{
    align-self: center;
    text-align: center;
}
.menu li, .menuInf li{
    display: block;

    list-style: none;
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    padding: 0.1rem 0.2rem;   
}

.menu a, .menuInf a{
    text-decoration: none;
    color: #0052B0;
}

/* --- BODY --- */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #0052B0;
    color: #B1C1C0;
    z-index: -1;
}


h1{
    color: #B1C1C0;
    font-size: 1.7rem;
    
    text-align: center;
    margin: 2rem 0;
    animation-name: animacionh1;
    animation-duration: 0.8s;
}
@keyframes animacionh1 {
    0% {
        transform: translateX(-50vw) rotateZ(35deg);
    }
    100% {
        transform: translateX(0) rotateZ(0deg);
    }
}

h1 span{
    color: #F79824;
    font-size: 1.7rem;
}
h2{
    font-size: 1.5rem;

    color: #B1C1C0;
    text-align: center;
    z-index: 2;
}
h2 span{
    color: #F79824;
    font-size: 1.5rem;
}
.textoUnoIndex, .textoDosIndex{
    width: 90%;
    max-width: 1000px;
    margin-bottom: 2rem;
    z-index: 2;
}
.fotoMolino {
    display: flex;
    justify-content: center;
    
}
.primeraSeccionIndex img{
    width: 75%;
    max-width: 1000px;
    border-radius: 5px;
}
.primeraSeccionIndex div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.segundaSeccionIndex div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div{
    align-self: center;
    max-width: 100%;

}
.segundaSeccionIndex iframe{
    width: 95%;
    height: 20rem;
    max-width: 450px;
    margin: 0.5rem;
    border-radius: 5px;
    align-self: center;
}
.segundaSeccionIndex {
    display: flex;
    flex-direction: column-reverse;
}

h2 {
    margin: 2rem 0 2rem 0;
}
.whatsapp{
    width: 15%;
    max-width: 80px;
    position: fixed;
    bottom: 4rem;
    right: 1rem;
}
/* --- FOOTER --- */
footer{
    
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: #B1C1C0;
    align-content: center;
    justify-content: center;
}
footer .developer {
    grid-column: 1/4;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}
.direccion {
    display: none;
}

.mapaFooter{
    width: 50%;
    max-width: 40px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.linkMapa {
    display: flex;
    align-items: center;
    justify-items: center;
}


/* --- SERVICIOS --- */
.imagenesServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.imagenesServicios img {
    width: 95%;
    max-width: 450px;
    padding: 0.5rem;
    align-self: center;
}
.imagenesServicios div{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.descripcionServicios p {
    margin: 0 1rem;
    max-width: 1000px;
}
.descripcionServicios ul li{
    text-align: start;
    justify-self: flex-start;
    margin: 2rem;
    list-style: circle;
}
main a {
    color: #F79824;
}
.trabajosEspeciales {
    display: flex;
    text-align: center;
    border: #F79824 solid 2px;
    border-radius: 5px;
    
    margin: 1rem;
    padding: 0.4rem 0.2rem;
}
.trabajosEspeciales p {
    width: 100%;
    height: 100%;
}

/*  --- QUIENES SOMOS --- */
.quienesSomos, .mision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}


.imgQuienesSomos, .imgEquipo {
    width: 95%;
    max-width: 600px;
    margin: 2rem 0;
}
.textoQuienesSomos, .textoMision {
    max-width: 750px;
}

/* --- CLIENTES --- */

.confian {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgConfian {
    width: 95%;
    max-width: 1000px;
    margin-top: 2rem;
}
.confian ul {
    list-style: circle;
}
.confian li{
    padding: 1rem;
}
.agradecimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.agradecimiento p {
    width: 95%;
    max-width: 1100px;
}
/* --- CONTACTO --- */

.mapaContacto {
    display: flex;
    justify-content: center;
    
    max-width: 800px;
    margin: 0;
}
.mapaContacto iframe {
    
    width: 95%;
    height: 20rem;
    max-width: 650px;
    margin: 2rem 0.5rem;
    border-radius: 5px;
    
}
form {
    display: flex;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;

    width: 95%;
    max-width: 800px;
    height: 80vh;
    padding: 1rem;
    margin: 2rem 0;
}
.formulario legend {
    color: #F79824;
}


@media screen and (min-width:768px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20vh;
    }
    .menu {
        display: flex;
        flex-direction: row;
        margin: 0.2rem 1rem;
    }
    .menu li {
        margin: 0.2rem;
        
    }
    .navSuperior {
        align-self: flex-end;
    }
    .mapaContacto{
        margin: auto;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: baseline;
        height: 7vh;
        
    }
    footer .developer {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding: 3rem 1rem;
    }
    footer .direccion {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

        font-size: 0.8rem;
        max-width: 500px;
    }
    .menuInf ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .menuInf li {
        text-align: center;
        align-self: center;
        border-right: #0052B0 solid 2px;
        border-radius: 0;
    }
    .mapaFooter {
        max-width: 70px;
    }
    .linkMapa {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
@media screen and (min-width:1024px) {
    header {
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100vw;
        opacity: 0.9;
        z-index: 2;
    }
    main{
        margin-top: 20vh
    }
    .logo:hover {
        
        animation-name: hoverLogo;
        animation-duration: 0.8s;
    }
    @keyframes hoverLogo{
        0%{
            transform: rotateX(0deg);
            
        }
        100%{
            transform: rotateX(360deg);
            
        }
    }
    .menu{
        height: 100%;
    }
    .menu li {
        padding: 0;
        margin: 0;
    }
    .menu a{
        padding: 0.5rem;
    }
    .navSuperior{
        height: 4vh;
        position: relative;
        bottom: 1rem;
    }
    .menu a:hover{
        background-color: #F79824;
        color: #0052B0;
        border-radius: 5px;
    }
    .menu li:hover{
        transform: scale(1.2);
    }
    .menuInf li {
        border-radius: 0;
        border-right: #0052B0 solid 2px;
        margin: 1rem 0;
    }
    .mainIndex{
        display: grid;
    }
    .grillaIndex {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .primeraSeccionIndex {
        display: flex;
        flex-direction: row;
    }
    .izqArriba {
        align-self: flex-start;
    }
    .segundaSeccionIndex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .segundaSeccionIndex iframe {
        width: 50%;
        max-width: 600px;
    }
    .textoDosIndex {
        max-width: 600px;
    }
    .segundaSeccionIndex div {
        width: 70%;
        max-width: 600px;
    }
    
    .descripcionServicios div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .descripcionServicios p {
        width: 45%;
    }
    .tituloServicios {
        text-align: left;
        padding: 0 5rem;
    }
    .trabajosEspeciales {
        
        width: 50%;
        max-width: 700px;
        height: 8vh;
        padding: 0;
        margin: 4rem auto 2rem auto;
    }
    .trabajosEspeciales a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .trabajosEspeciales p {
        height: fit-content;
    }
    .trabajosEspeciales a:hover {
        background-color: #f79824ca;
        
        color: #0052B0;
        font-weight: 900;
    }
    
    .imagenesServicios {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        
        justify-content: center;
        margin: 3rem auto ;


        width: 70%;
        max-width: 1000px;
        
    }
    .imagenesServicios img{
        width: 40%;
        max-width: 600px;
        justify-self: center;
    }
    .imagenesServicios div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-self: center;
        max-width: 1000px ;
    }
    .mainQuienesSomos h1 {
        display: inline;
        text-align: left;
        margin-left: 5rem;
    }
    .quienesSomos {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .textoQuienesSomos {
        width: 45%;
        max-width: 600px;
        padding: 2rem;
        
        align-self: flex-start;
    }
    .mainQuienesSomos h2 {
        text-align: right;
        margin-right: 8rem;
    }
    .mision {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mision h2 {
        display: flex;
        justify-self: right;
    }
    .textoMision {
        max-width: 600px;
        padding: 2rem;
    }
    .mainConfian h1 {
        display: inline;
        text-align: left;
        margin-left: 8rem;
    }
    .confian {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
        width: 90%;
        max-width: 1100px;
    }
    .imgConfian {
        max-width: 650px;
    }
    .agradecimiento {
        display: flex;
        flex-direction: row-reverse;
        
        margin: 4rem auto;
        max-width: 1200px;
    }
    .agradecimiento p {
        max-width: 800px;
        padding: 4rem 1rem;
    }
    .agradecimiento h2 {
        align-self: flex-start;
        text-align: right;
        margin: 0;
        padding: 0;
        width: 60%;    
    }
    .mapaContacto {
        width: 60%;
        margin: 4rem auto;
    }
    
    

}











